@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Give+You+Glory);
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

/* You can add global styles to this file, and also import other style files */
app-root {

	/* ==========================
    *   Buttons
    ============================*/

	.form-control-lg,
	.dropdown-menu,
	.btn,
	.btn-group-lg > .btn,
	.btn-lg,
	.img-rounded {
		border-radius: 4px
	}

	.btn {
		transition: all .4s;
	}

	.btn-secondary {
		color: #373a3c;
		background-color: rgba(252, 251, 249, 0.68);
		border-color: #eaebeb;
	}

	.theme-btn {
		background-color: #F95424;
		border-color: #F95424;
		color: #fff
	}

	.theme-btn-dash {
		border: 2px dashed #F95424;
		background-color: transparent;
		color: #F95424
	}

	.theme-btn-dash:hover,
	.theme-btn,
	.theme-btn.btn-lg:hover,
	.btn-secondary:hover {
		background-color: #F95424;
		color: #fff;
		border: 1px solid #F95424
	}

	.theme-btn-dash:hover {
		border: 2px solid #F95424;
		color: #fff
	}

	.bg-white {
		background-color: #fff
	}

	.primary-color {
		color: #F95424
	}

	@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700|Give+You+Glory);

	/* Table of Content
    *****************************************************
    
    
    01. General Properties
    - Styling
    - Buttons
    - Inputs
    - Forms
    02. Main Nav
    03. Header
    04. Food items
    05. Pricing
    06. Map
    
    
    */

	#body {
		/*   background: rgba(252, 251, 249, 0.68);*/
		background: #f5f5f5;
		font-size: 16px;
		color: #4d4f56;
		font-weight: 400;
		overflow-x: hidden;
	}


	/* ==========================
    *   Typohraphy
    ============================*/

	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Source Sans Pro", sans-serif;
		color: #25282b;
	}

	a {
		color: #F95424;
	}

	a:hover {
		text-decoration: none;
		color: #ef3b0e
	}

	.lead {
		font-size: 1.25rem;
		font-weight: 400;
		color: #404048;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	hr {
		margin-top: 1rem;
		margin-bottom: 1rem;
		border: 0;
		border-top: 1px solid #eaebeb;
	}


	/*==================================
    * Bootstrap grid tweaks
    *===================================*/

	.container {
		max-width: 1270px;
		width: 94%;
	}

	.navbar-dark .navbar-nav .nav-link {
		padding: 6px 23px;

	}

	/* Remove space from columns */

	.row.no-gutter {
		margin-left: 0;
		margin-right: 0;
	}

	.row.no-gutter [class*="col-"]:not(:first-child),
	.row.no-gutter [class*="col-"]:not(:last-child) {
		padding-right: 0;
		padding-left: 0;
	}


	/*==================================
    * Just simple warppers
    *===================================*/

	.page-wrapper {
		padding-top: 80px;
		/* Used for inpper pages if navigation fixed to the top */
	}

	.inner-page {
		margin-top: 30px;
		margin-bottom: 50px
	}

	.btn-success {
		background: #6AC932 !important;

	}

	.btn-outline-success {
		border-color: #6AC932 !important;
		color: #6AC932 !important;

	}

	.btn-outline-success:hover {
		border-color: #6AC932 !important;
		background: #6AC932 !important;
		color: #fff !important;
	}


	.btn-success:not(:disabled):not(.disabled).active:focus,
	.btn-success:not(:disabled):not(.disabled):active:focus,
	.show > .btn-success.dropdown-toggle:focus {
		box-shadow: none !important;
	}

	/*==================================
    * Foms
    *===================================*/



	.custom-control-input:checked ~ .custom-control-indicator {
		color: #fff;
		background-color: #F95424;

	}

	.custom-checkbox .custom-control-indicator {
		border-radius: 50%;
	}

	.custom-control-indicator {
		padding: 10px;
		background-color: #fff;
		box-shadow: 0 0 1px 3px rgba(93, 92, 99, 0.05);
		border: 1px solid rgba(116, 135, 150, 0.23);
	}

	.custom-control-indicator {
		display: flex;
		width: 23px;
		height: 23px;
	}

	.custom-control.custom-checkbox {
		display: flex !important;
		align-items: center;
	}

	.custom-control .custom-control-description {
		line-height: normal;
		/*	padding: 0 14px;*/
		padding-left: 10px;
		font-size: 14px;
	}

	.custom-control-input:focus ~ .custom-control-indicator {
		-webkit-box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #F95424;
		box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #F95424;
	}

	.custom-radio .custom-control-input:checked ~ .custom-control-indicator {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http: //www.w3.org/2000/svg' viewBox='0 0 8 8%3E%3Cpath fill=1%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E")
	}

	.custom-control-input:active ~ .custom-control-indicator {
		color: #fff;
		background-color: #F95424
	}

	.custom-control-input:disabled ~ .custom-control-indicator {
		cursor: not-allowed;
		background-color: #eee
	}

	.custom-control-input:disabled ~ .custom-control-description {
		color: "#76767"
	}

	.custom-control {
		/*		padding-left: 30px;*/
		padding: 0;
	}

	.form-control {
		border: 1px solid #eaebeb;
		border-radius: 4px;
	}

	select.form-control:not([size]):not([multiple]) {
		line-height: 1px;
		padding: 0 0 3px 10px;
	}

	.custom-select {
		line-height: 1
	}

	.custom-control.custom-radio {
		display: flex;
		align-items: center;
	}

	/* ==========================
    *   Helpers
    ============================*/

	.space-xs {
		padding-bottom: 15px;
		padding-top: 15px
	}

	.space-sm {
		padding-bottom: 30;
		padding-top: 30px
	}

	.space-md {
		padding-top: 90px;
		padding-bottom: 90px
	}

	.m-b-10 {
		margin-bottom: 10px;
	}

	.m-b-20 {
		margin-bottom: 20px;
	}

	.m-b-30 {
		margin-bottom: 30px;
	}

	.m-t-10 {
		margin-top: 10px
	}

	.m-t-20 {
		margin-top: 20px
	}

	.m-t-30 {
		margin-top: 30px;
	}

	.b-l {
		border-left: 1px solid #edeed
	}

	.b-r {
		border-left: 1px solid #edeed
	}

	.b-t {
		border-top: 1px solid #edeed
	}

	.b-b {
		border-bottom: 1px solid #edeed
	}

	.b-b-0 {
		border-bottom: none !important
	}

	.b-t-0 {
		border-top: none !important
	}

	.b-l-0 {
		border-left: none !important
	}

	.b-r-0 {
		border-right: none !important
	}

	.align-wrap {
		display: inline-table;
		min-height: 100%;
	}

	.align-vertical {
		display: table-cell;
		vertical-align: middle;
	}

	.font-white {
		color: #fff
	}


	/* ============================
    * PAGINATION
    ==============================*/

	.page-item.disabled .page-link,
	.page-item.disabled .page-link:focus,
	.page-item.disabled .page-link:hover {
		border-color: #eaebeb;
	}

	.page-link {
		color: inherit;
		background-color: #fff;
		border: 1px solid #eaebeb;
	}

	.page-item.active .page-link,
	.page-item.active .page-link:focus,
	.page-item.active .page-link:hover {
		background-color: #F95424;
		border-color: #F95424;
	}

	/********* top links part ***********/

	.top-links {
		padding: 15px 0;
		border-bottom: 1px solid #eaebeb;
	}

	.top-links ul {
		margin-bottom: 0;
	}

	.link-item a {
		font-size: 12px;
		color: #414551;
	}

	.link-item.active span {
		background-color: #F95424;
		color: #fff
	}

	.links {
		display: block
	}

	.links span {
		border: 1px solid #eaebeb;
		border-radius: 100px;
		width: 32px;
		height: 32px;
		color: #3a3e47;
		font-weight: 600;
		display: inline-block;
		margin-right: 18px;
		text-align: center;
		line-height: 28px;
		-webkit-transition: all .3s;
		transition: all .3s
	}

	.links li:hover span {
		background-color: #F95424;
		color: #fff
	}

	@media (max-width:800px) {
		.top-links {
			display: none
		}
	}

	/* ==========================
    *   Hero
    ============================*/

	.hero {
		padding-top: 12%;
		padding-bottom: 10%;
		text-align: center;
		position: relative;
	}

	.hero h1 {
		font-family: "Give You Glory", cursive;
		color: #fff;
		font-size: 3.7em;
		font-weight: 700;
	}

	.hero:before {
		content: "";
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1;
		background-color: rgba(7, 6, 29, 0.37);
	}

	.hero .hero-inner {
		position: relative;
		z-index: 1
	}


	/* ==========================
    *   Hero steps
    ============================*/
	.result-show .container .custom-select {
		background-image: none;
	}

	.step-item {
		display: inline-block;
		margin: 0 40px 0;
		position: relative;
	}

	.banner-form {
		margin-bottom: 60px;
		display: block;
		margin-top: 20px;
	}

	.banner-form .form-inline {
		width: fit-content;
	}

	.step-item svg {
		display: inline-block;
		width: 34px;
		height: 34px;
	}

	.step-item img {
		display: block;
		margin: 0 auto 15px;
	}

	.step-item h4 {
		font-family: "Give You Glory", cursive;
		color: #fff;
		font-size: 21px;
	}

	.step-item h4 span {
		color: #F95424;
	}

	.step1:after,
	.step2:after {
		position: absolute;
		content: "";
		right: -58%;
		top: -20%;
		width: 130px;
		height: 32px;
		background: url(~/assets/images/arrow.png);
	}

	.step2:after {
		background: url(~/assets/images/arrow-dotted.png);
		height: 25px;
		right: -95%;
		top: -15%;
	}

	@media (max-width: 568px) and (min-width: 280px) {

		.step1:after,
		.step2:after {
			display: none
		}

		.hero h1 {
			font-size: 2.2em;
			padding-top: 75px;
		}
	}

	@media (min-width: 768px) and (max-width: 991px) {
		.step-item {
			margin: 0 30px 0;
		}
	}


	/* ==========================
    *   Detect location
    ============================*/

	.location-match {
		padding: 20px 0;
		border-bottom: 1px solid #e6e6e6;
	}

	.location-match span {
		font-weight: 600;
	}

	.location-match a {
		color: #F95424;
	}

	.location-match a:hover {
		color: #43434c;
	}


	/*============================================
    * Modal 
    =============================================*/

	.cart-addon .food-item {
		margin-bottom: 20px;
		border-bottom: 1px solid #ededed;
		padding: 2px 0 15px;
	}

	.cart-addon .food-item:last-of-type {
		border-bottom: none
	}

	.cart-addon .food-item .item-img img {
		max-width: 70px;
	}

	.cart-addon .food-item .rest-descr {
		margin-left: 80px;
	}

	.cart-addon .food-item h6 {
		/* margin: 0 0 2px 0; */
	}

	.cart-addon .food-item h6 a {
		font-size: 16px;
		color: #4d4f56;
		display: block;
		margin: 4px 0 0 0;
		line-height: 20px;
	}

	.cart-addon .food-item .price {
		font-weight: 600;
		margin-top: 15px;
		display: block;
		color: #25282b;
	}

	.cart-addon .food-item .form-control {
		margin-top: 8px;
	}

	button.close {
		padding: 0;
		cursor: pointer;
		background: 0 0;
		border: 0;
		-webkit-appearance: none;
		right: -15px;
		position: absolute;
		top: -15px;
		background-color: #F95424;
		opacity: 1;
		width: 30px;
		height: 30px;
		color: #fff;
		text-shadow: none;
		font-size: 14px;
		display: block;
		z-index: 1;
	}

	button.close span {
		display: block;
	}

	/* ==========================
    *  Inner pages
    ============================*/

	.inner-page-hero {
		padding-top: 5%;
		padding-bottom: 5%;
	}


	/********* profile banner part ***********/

	.profile-banner figure img {
		width: 100%;
	}

	.image-wrap {
		border-radius: 2px;
		padding: 10px;
		float: left;
		background: #fff;
	}

	.image-wrap figure {
		background: #FFF;
		border-radius: 2px;
		display: block;
		overflow: hidden;
		float: left;
		margin-bottom: 0;
	}

	.image-wrap figure img {
		max-width: 100%;
		display: block
	}

	.profile p {
		color: #fff;
	}

	.banner figure {
		margin-bottom: 0;
	}

	.profile-desc h6 a {
		font-size: 26px;
		line-height: 31px;
		color: #fff;
	}

	.profile .right-text {}

	.profile-img {
		width: 24.7%;
	}

	.profile .right-text span {
		margin-bottom: 8px;
		display: block;
	}

	.profile-desc h6 {
		display: inline-block;
		margin-right: 3rem;
		margin-bottom: 10px;
	}

	.profile-desc a.btn {
		display: inline-block;
		padding: 3px 20px;
		background-color: #6AC932;
		vertical-align: text-bottom;
		font-size: 13px;
		color: #fff;
	}

	.profile-desc .right-text {
		width: 100%;
		border-right: 0;
		color: rgba(255, 255, 255, .5);
		margin-top: 30px;
	}

	.profile-desc .nav-item a {
		color: #fff;
	}

	.profile-desc .nav-item.ratings a span i {
		color: #ffa800;
		font-size: 16px;
	}

	@media (min-width:320px) and (max-width:768px) {
		.profile-desc .right-text {
			margin-top: 0;
		}

		.profile-desc h6 {
			margin-right: 0;
		}

		.image-wrap {
			padding: 1px;
			border-radius: 2px;
			margin-bottom: 20px
		}

		.profile-desc a.btn {
			float: right
		}

		.image-wrap img {
			width: auto;
		}

		.profile-img {
			width: 100%
		}
	}

	@media (min-width: 768px) and (max-width: 991px) {
		.profile-desc .right-text {
			margin-top: 0;
		}
	}


	/********* breadcrumb part ***********/

	.breadcrumb {
		background: transparent;
		padding: 22px 0;
		border-bottom: 1px solid #e6e6e6;
	}

	.breadcrumb ul li {
		display: inline-block;
		margin-right: 40px;
		position: relative;
	}

	.breadcrumb ul li:before {
		position: absolute;
		left: -25px;
		top: 0;
		content: "/";
	}

	.breadcrumb ul li:first-child:before {
		content: none;
	}

	.breadcrumb ul li a,
	.breadcrumb ul li {
		color: #333366;
	}

	.breadcrumb ul,
	.breadcrumb {
		margin-bottom: 0;
	}

	@media (min-width:320px) and (max-width: 568px) {
		.breadcrumb ul li {
			display: inline-block;
			margin-right: 15px;
			position: relative;
		}

		.breadcrumb ul li:before {
			display: none
		}
	}

	.result-show .dropdown button {
		color: #333366;
		font-size: 14px;
		border: 0;
	}

	.result-show div i {
		margin-left: 10px;
		font-size: 22px;
		vertical-align: middle;
		color: #000;
	}

	.result-show {
		padding: 7px 0 10px;
		border-bottom: 1px solid #eaebeb;
		color: #333366;
		margin-bottom: 20px;
	}

	.result-show p {
		padding: 0;
		margin: 5px 0;
	}

	.sidebar {
		border: 1px solid #eaebeb;
		background: #fafaf8;
		border-radius: 3px;
	}

	.sidebar-inner {
		padding-left: 15px;
		padding-right: 15px;
	}

	.sidebar-inner .sidebar input,
	.sidebar .input-group-btn .btn {
		height: 55px;
		border-left: 0;
		border-right: 0;
	}

	.widget {
		border: 1px solid #eaebeb;
		background: #fafaf8;
		border-radius: 3px;
		margin-bottom: 20px;
	}

	.widget-heading {
		padding: 15px;
		color: #fff;
		border-radius: 3px;
		border-bottom: 1px solid #eaebeb;
	}

	.sidebar-wrap .widget-body .price-wrap h3 {
		font-size: 1.2rem;

	}

	.sidebar-wrap .widget-body .price-wrap p {
		color: var(--gray);
	}

	.sidebar-wrap .widget-body .price-wrap p strong {
		font-weight: 500;
	}

	.sidebar-wrap .widget-body .price-wrap h2 {
		color: #6AC932;
		font-size: 1rem;
		font-weight: 600;
		margin-bottom: 17px;
	}

	.sidebar-wrap .widget-body .price-wrap .btn.coupon_code_btn {
		color: #6AC932;
		padding: 0;
		font-size: .93rem !important;
		font-weight: 600 !important;
		margin-bottom: 17px;
		width: 100%;
	}

	.sidebar-wrap .widget-body .price-wrap .btn.coupon_code_btn:focus {
		box-shadow: none;
	}

	.modal.coupon_code_modal .modal-footer {
		justify-content: center;

	}

	.modal.coupon_code_modal .modal-footer button {
		min-width: 140px;
		padding: 9px 15px;

	}

	.modal.coupon_code_modal .modal-footer button.cancel_btn {
		background: none;
		color: #686767 !important;
		font-weight: 500;


	}

	.form-control:focus {
		border-color: #eaebeb;
		box-shadow: none !important;
	}

	.modal.coupon_code_modal .modal-footer button.apply_btn {
		background: #F95424;
		font-weight: 500;
		border: 0 !important;
		box-shadow: none !important;

	}

	.modal.coupon_code_modal .modal-footer button.cancel_btn:hover,
	.modal.coupon_code_modal .modal-footer button.cancel_btn:focus {
		border-color: #eaebeb;
		box-shadow: 0 5px 11px 0px rgba(0, 0, 0, 0.1) !important;
	}

	.menu-widget .widget-heading {
		border: none !important;
	}

	.widget-heading .widget-title {
		font-size: 16px;
		font-weight: 600;
		float: left;
		margin-top: 0;
		margin-bottom: 0;
		width: 100%;

	}

	.widget-heading .widget-title .btn {
		padding: 0px 24px;
	}

	.widget-delivery .col-xs-6 {
		padding: 25px 15px 20px;
		background: #fff;
		border-right: 1px solid #eaebeb;
		display: -webkit-inline-box;
		border-bottom: 1px solid #eaebeb;
	}

	.widget-delivery .col-xs-6:last-of-type {
		border-right: 1px solid transparent;
	}

	.sidebar .widget-delivery .col-xs-6 {
		border-bottom: none
	}

	.sidebar-title {
		padding: 15px 15px 15px;
		background: #6AC932;
		float: left;
		width: 100%;
	}

	#ofers,
	#page_favorites,
	#order_info,
	#page_my_order {
		background: #fcfcfa;
	}


	#ofers .restaurant-entry {
		background: #f6f6f6;
	}

	#ofers .restaurant-entry .entry-dscr {
		padding-left: 46px !important;
		margin-top: 26px !important;
	}

	#ofers .restaurant-entry .right-review {
		min-height: unset !important;
	}

	#ofers .restaurant-entry .right-review .rating-block a {
		min-width: 125px;
		font-weight: 500;
	}

	.dropdown-toggle::after {
		position: relative;
		top: 2px;
	}

	#ofers .restaurant-entry h3 {
		color: #939393;
		font-size: 15px;
		font-weight: 600;
		margin-top: 5px;
	}

	#page_my_order .restaurant-entry .entry-dscr h5 span {
		color: #000;
		font-size: 1.1rem;
		font-weight: 700;
	}

	#page_my_order .restaurant-entry .entry-dscr h5 {
		align-items: center;
	}

	#page_my_order .restaurant-entry .entry-dscr .d-flex a.review_btn {
		background: #F95424;
		color: var(--white);
		font-size: .85rem;
		height: 20px;
		line-height: 20px;
		min-width: 70px;
		text-align: center;
		font-weight: 500;
		border-radius: 3px;
		padding: 0 11px;
		position: relative;
		top: 4px;
	}

	#page_my_order .rateing_modal .img_box img {
		width: 100%;
		max-width: 300px;
		overflow: hidden;
		padding: 0 20px;
	}

	#page_my_order .rateing_modal .panel-title {
		font-size: 19px;
	}

	#order_info .sidebar .order_status .chef-detail li {
		align-items: center;
	}

	#order_info .track_order_modal .sidebar-title i {
		float: unset;
	}

	#order_info .track_order_modal .sidebar-title .btn {
		color: var(--white);
		border: 1px solid var(--white);
		border-radius: 4px;
	}

	#order_info .track_order_modal .sidebar-title .btn:hover {
		color: var(--white);
		border-color: #F95424;
		background: #F95424;
	}

	#order_info .sidebar .order_status .chef-detail i {
		min-width: 47px;
		height: 47px;
		line-height: 47px;
		text-align: center;
		color: #fff;
		background: #dadada;
		border-radius: 50%;
		font-size: 22px;
	}

	#order_info .sidebar-wrap .widget-cart .widget-heading {
		background: #f5f4f2;
		border-radius: 0;
	}

	#order_info .menu-widget .widget-heading {
		background: #f5f4f2;
		border-radius: 0;
	}

	#order_info .menu-widget .grand_totall .title-row .text-primary {
		margin: 0 !important;
		font-size: 1rem !important;
	}

	#order_info .menu-widget .grand_totall .title-row span {
		font-size: 20px;
		font-weight: 700;
	}

	#order_info .sidebar-wrap .widget-cart .order-row {
		background: #f5f4f2;
	}

	#order_info .sidebar-wrap .widget-cart .order-row .title-row {
		line-height: 20px;
	}

	#order_info .bg_gray {
		background: #f5f4f2 !important;
	}

	#order_info .sidebar .order_status .chef-detail li.active i {
		background: #6ac932;
	}

	.contact_details li::before {
		display: none;
	}

	#page_my_order .sidebar .nav-tabs .nav-item a {
		border: 0px;
		background: #f5f5f5;
	}

	#page_my_order .sidebar {
		border: 0;
	}

	#page_my_order .restaurant-entry {
		background: #f5f5f5;
	}

	#page_my_order .sidebar .nav-tabs .nav-item a {
		border: 1px solid #eaebeb;
		border-radius: 2px;
		padding: 15px 15px 15px;
		margin-bottom: 0;
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		color: var(--black);
	}

	#page_my_order .sidebar .nav-tabs .nav-item a.active {
		background: #6AC932;
		border-color: #6AC932;
		color: #fff;
	}

	#page_favorites .restaurant-entry .right-review p {
		position: relative;
		left: -6px;
	}

	.sidebar-title h6 {
		float: left;
		margin-bottom: 0;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
	}

	.sidebar-title i {
		float: right;
		color: #fff;
		font-size: 15px;
		margin-top: 3px;
	}

	.main-block ul li {
		line-height: 28px;
		font-weight: 300;
		display: block;
		border-bottom: 1px solid #eaebeb;
		font-weight: 500;
		color: #414551;
	}

	.main-block ul li a {
		color: #414551;
		display: block;
		font-weight: 500;
		padding: 15px;
	}

	.main-block ul {
		float: left;
		width: 100%;
		margin-bottom: 0;
	}

	.main-block ul li:hover {
		background: #fffdfd;
	}

	.main-block ul li:hover a {
		color: #F95424
	}

	.main-block ul:hover li:last-child {
		border-bottom: 1px solid transparent;
		border-bottom: 1px solid #eaebeb;
	}

	.main-block ul li:first-of-type {
		border-top: none
	}

	a.more-link {
		padding-left: 15px;
		margin: 5px 0 25px;
		float: left;
	}

	.block {
		border-bottom: 1px solid #eaebeb;
		margin-top: 30px;
	}

	.main-block form ul li {
		padding: 15px
	}

	.main-block .input-group input,
	.main-block .input-group-btn {
		height: 55px;
		border-left: none
	}


	/* Food items */

	.menu-widget,
	.widget {
		border: 1px solid #eaebeb;
		background: #fafaf8;
		border-radius: 2px;
		position: relative;
	}

	.widget-body {
		padding: 20px;
	}

	.panel {
		margin-bottom: 15px;
		border: 1px solid #dcdee3;
		border-radius: 3px;
		box-shadow: none;
	}

	.panel-heading {
		padding: 15px;
		border: none !important;
		border-radius: 0;
	}

	.panel-heading i {
		padding-right: 7px;
		font-size: 14px
	}

	.panel-title {
		font-size: 16px;
		font-weight: 600;
		margin-top: 0;
		margin-bottom: 0;
		color: #25282b;
	}

	.panel-title a {
		color: #25282b;
	}

	.panel .panel-body {
		padding: 20px;
	}

	.list-check > li {
		line-height: 24px;
		position: relative;
		margin-bottom: 10px;
		padding-left: 23px;
	}

	.list-check > li:after {
		font-family: FontAwesome;
		position: absolute;
		top: 1px;
		left: 0;
		content: "\f05d";
		color: #7ab55c;
		font-size: 18px;
	}

	.menu-widget .food-item {
		padding: 15px
	}

	.menu-widget .food-item:first-of-type {
		border-bottom: none
	}

	.menu-widget .food-item .restaurant-logo {
		max-width: 100px;
		height: auto;
		display: block;
	}

	.menu-widget .food-item .restaurant-logo img {
		max-width: 100%;
		display: block
	}

	.menu-widget .food-item:first-of-type {
		border-top: 1px solid #eaebeb;
	}

	.menu-widget .food-item:last-of-type {
		border-bottom: transparent
	}

	.menu-widget .food-item.white {
		background-color: #fff
	}

	.menu-widget .food-item .rest-descr {
		padding-left: 115px;
		padding-top: 0;
	}

	.menu-widget .food-item .rest-descr h6 a {
		color: #25282b;
		font-size: 18px;
		font-weight: 600;
	}

	.menu-widget .food-item .item-cart-info {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.menu-widget .food-item .price {
		font-weight: 600;
		color: #2f2f2f;
		position: relative;
		margin-top: 12px;
		margin-bottom: 12px;
		font-size: 18px;
	}

	.order-row .form-control {
		border-radius: 0;
	}

	.order-row.add_instructions .form-control {
		min-width: 100%;
		max-width: 100%;
	}

	.order-row .title-row {
		margin-bottom: 10px;
		font-weight: 500;
		color: #000;
		line-height: 15px;
	}

	.order-row .title-row a i {
		/*		margin-top: 7px;*/
	}

	.order-row {
		border-bottom: 1px solid #eaebeb
	}

	.order-row:last-of-type {
		border-bottom: none
	}

	@media (max-width: 543px) {
		.widget-cart {
			margin: 20px auto;
			float: right;
			width: 100%;
		}
	}

	@media (min-width: 544px) and (max-width: 767px) {
		.widget-cart {
			margin: 20px auto;
			float: right;
			width: 66.666667%;
		}
	}

	@media (min-width: 768px) and (max-width: 991px) {
		.widget-cart {
			margin-top: 20px;
			float: right;
			width: 66.666667%;
		}
	}

	@media (min-width: 992px) and (max-width: 1199px) {}

	@media (min-width: 1200px) {}

	a[aria-expanded=true] .fa-angle-right {
		display: none;
	}

	a[aria-expanded=true] .fa-angle-up {
		display: block;
	}

	a[aria-expanded=false] .fa-angle-up {
		display: none;
	}

	a[aria-expanded=false] .fa-angle-down {
		display: block;
	}

	a[aria-expanded=true] .fa-angle-down {
		display: none;
	}


	/*==============================
    *
    * Rstaurants 
    *
    ==============================*/

	.restaurant-entry {
		border: 1px solid #eaebeb;
		border-radius: 2px;
		margin-bottom: 20px;
	}

	.restaurant-entry .entry-logo {
		float: left;
		width: 110px;
		height: auto;
		border: 1px solid #eaebeb;
		border-radius: 2px;
		margin-top: 15px;
		margin-left: 15px;
		overflow: hidden
	}

	.restaurant-entry .entry-logo img {
		max-width: 100%;
		display: block
	}

	.restaurant-entry .entry-dscr {
		padding-left: 145px;
		/*		padding-left: 15px;*/
		/*		margin-top: 15px;*/
		margin-top: 24px;
	}

	.restaurant-entry .entry-dscr h5 a {
		color: #414551;
		font-weight: 500;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	}

	.restaurant-entry .entry-dscr ul li {
		font-size: 12px;
		margin-top: 7px;
	}

	.restaurant-entry .right-review {
		padding: 15px 10px;
		border-left: 1px solid #eaebeb;
		min-height: 145px;
	}

	.restaurant-entry .right-review p {
		color: #414551;
		font-weight: 500;
		margin: 0 0 10px;
	}

	.restaurant-entry .right-review .rating-block {
		color: #F95424;
		background: transparent;
		border: none;
		padding: 5px 15px 5px;
	}

	@media (min-width: 320px) and (max-width: 991px) {
		.restaurant-entry .entry-logo {
			float: none;
			text-align: center;
			margin: 10px auto;
		}

		.restaurant-entry .entry-dscr {
			padding: 0 15px;
			text-align: center;
		}

		.restaurant-entry .right-review {
			padding: 15px 10px;
			border-left: transparent;
			border-top: 1px solid #eaebeb
		}
	}


	/*==============================
    * TAGS
    ==============================*/

	.tags {
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none
	}

	.tags li {
		float: left
	}

	.tag {
		font-size: 14px;
		line-height: 26px;
		position: relative;
		height: 28px;
		margin: 0 10px 10px 0;
		padding: 0 20px 0 15px;
		-webkit-transition: all .4s;
		border: 1px solid #eaebeb;
		border-radius: 2px;
		background: #ffffff;
		color: inherit;
		font-weight: normal
	}

	.tag:after,
	.tag:before {
		-webkit-transition: all .4s;
		background: #fff
	}

	.tag:before {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 6px;
		height: 6px;
		border-radius: 10px;
		box-shadow: inset 0 1px rgba(0, 0, 0, .25)
	}

	.tag:after {
		border-top: 13px solid transparent;
		border-bottom: 13px solid transparent
	}

	.tag:hover {
		color: #fff;
		border-color: #F95424;
		background-color: #F95424
	}


	/*==================================
    * MAPS
    *=================================*/

	.pricing-page {
		background-image: url(~/assets/images/list.png);
		background-repeat: no-repeat;
		background-position: top left;
		position: relative;
	}

	.pricing-box {
		background-color: #fcfbf9;
		border-radius: 3px;
		border: 1px solid #ededed;
		padding: 60px 20px 0;
		margin-top: -80px;
		margin-bottom: 50px;
		text-align: center;
		color: #414551;
		position: relative;
		z-index: 2;
	}

	@media (min-width: 380px) and (max-width: 1170px) {
		.pricing-box {
			margin-top: 50px
		}
	}

	.pricing-box .price {
		color: #e8500e;
		font-size: 78px;
		line-height: 1;
		font-weight: 700;
		display: inline-block;
		position: relative;
	}

	.pricing-box .price .currency {
		font-size: 30px;
		font-weight: 600;
		position: absolute;
		left: -20px;
		top: -7px;
	}

	.pricing-box h2 {
		font-size: 33px;
		font-weight: 600;
		margin: 15px 0 10px;
	}

	.pricing-box p {
		font-weight: 600;
	}

	.pricing-box ul {
		margin: 20px 0 0;
		padding: 0;
		list-style: none;
	}

	.pricing-box ul li {
		padding: 8px 0;
	}

	.pricing-box .btn {
		padding-left: 50px;
		padding-right: 50px;
		box-sizing: border-box;
		height: 50px;
		line-height: 32px;
		font-size: 16px;
		-webkit-transform: translateY(50%);
		-khtml-transform: translateY(50%);
		-moz-transform: translateY(50%);
		-ms-transform: translateY(50%);
		transform: translateY(50%);
	}

	.pricing-box .btn:hover {
		color: #fff
	}

	.pricing-faq div {
		padding-top: 30px;
	}

	.pricing-faq h3 {
		font-size: 18px;
		font-weight: 600;
	}

	.pricing-faq p {
		margin: 30px 0;
	}

	.gl-page-content-section {
		padding-top: 69px;
	}


	/*==================================
    * MAPS
    *=================================*/

	.map-wrapper {
		width: 43%;
		display: inline-block;
		overflow: hidden;
		float: left;
		position: fixed;
		z-index: 10;
	}

	.map-wrapper .search-map {
		width: 100%;
		height: 100%;
	}

	#map {
		height: 100vh;
	}

	#map-result-section {
		width: 57%;
		float: right;
		padding: 20px;
	}

	#map {
		width: 100%;
		height: 100vh;
	}

	.wwone__map-infobox {
		background: #fff;
		width: 260px;
		height: 340px;
	}

	.wwone__map-infobox__close {
		position: absolute;
		display: block;
		width: 20px;
		height: 20px;
		background-color: #F95424;
		color: #fff;
		line-height: 20px;
		text-align: center;
		font-size: 12px;
		right: 0;
		top: 0;
		z-index: 9999;
	}

	.wwone__map-infobox__close span {
		color: #fff
	}

	.wwone__map-infobox__close:hover {
		color: #fff;
		text-decoration: none;
	}

	.wwone__map-infobox__thumb {
		width: 100%;
		height: auto;
	}

	.wwone__map-infobox__badge {
		position: absolute;
		display: block;
		line-height: 25px;
		color: #fff;
		text-align: center;
		left: 10px;
		top: 10px;
		z-index: 9999;
		background: #F95424;
		display: inline-block;
		padding: 0px 10px;
		margin-top: 5px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		font-size: 13px;
	}

	.wwone__map-infobox__inner {
		background: #fff;
		width: 220px;
		position: relative;
		font-size: 14px;
		margin: 0;
		background-color: #fff;
		padding: 20px;
	}

	.wwone__map-infobox__inner:after {
		content: ' ';
		height: 0;
		position: absolute;
		width: 0;
		border: 15px solid rgba(0, 0, 0, 0);
		border-top-color: #fff;
		left: 50%;
		margin-left: -15px;
		bottom: -30px;
	}

	.wwone__map-infobox__inner__heading {
		color: #F95424;
		display: block;
		width: 100%;
		font-size: 16px;
		font-weight: 700;
	}

	.wwone__map-infobox__inner__info {
		padding: 10px 0 20px 0;
		font-size: 12px;
		color: #748796
	}

	.wwone__map-infobox__inner__info strong {
		width: 60px;
		display: inline-block;
		color: #25282b
	}

	.wwone__map-infobox__inner__btn {
		background-color: #F95424;
		padding: 6px 15px;
		border-radius: 3px;
		display: inline-block;
		color: #FFF;
		text-decoration: none;
		font-size: 13px
	}

	.wwone__map-infobox__inner__btn:hover {
		color: #fff
	}

	@media (min-width: 897px) and (max-width: 970px) {
		.map-wrapper {
			width: 40%;
			display: inline-block;
		}

		#map-result-section {
			width: 60%;
		}
	}

	@media (min-width: 280px) and (max-width: 896px) {
		.map-wrapper {
			width: 100%;
			display: inline-block;
			position: relative;
			max-height: 420px
		}

		#map-result-section {
			width: 100%;
		}
	}


	/*! =========================================================
    * bootstrap-slider.js
    *
    * Maintainers:
    *		Kyle Kemp
    *			- Twitter: @seiyria
    *			- Github:  seiyria
    *		Rohit Kalkur
    *			- Twitter: @Rovolutionary
    *			- Github:  rovolution
    *
    * =========================================================
    *
    * Licensed under the Apache License, Version 2.0 (the "License");
    * you may not use this file except in compliance with the License.
    * You may obtain a copy of the License at
    *
    * http://www.apache.org/licenses/LICENSE-2.0
    *
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS,
    * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    * See the License for the specific language governing permissions and
    * limitations under the License.
    * ========================================================= */

	.slider {
		display: inline-block;
		vertical-align: middle;
		position: relative;
	}

	.slider.slider-horizontal {
		width: 100%;
		height: 20px;
	}

	.slider.slider-horizontal .slider-track {
		height: 10px;
		width: 100%;
		margin-top: -3px;
		top: 50%;
		left: 0;
	}

	.slider.slider-horizontal .slider-selection,
	.slider.slider-horizontal .slider-track-low,
	.slider.slider-horizontal .slider-track-high {
		height: 100%;
		top: 0;
		bottom: 0;
	}

	.slider.slider-horizontal .slider-tick,
	.slider.slider-horizontal .slider-handle {
		margin-left: -12px;
	}

	.slider.slider-horizontal .slider-tick.triangle,
	.slider.slider-horizontal .slider-handle.triangle {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		border-width: 0 10px 10px 10px;
		width: 0;
		height: 0;
		border-bottom-color: #0480be;
		margin-top: 0;
	}

	.slider.slider-horizontal .slider-tick-container {
		white-space: nowrap;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	.slider.slider-horizontal .slider-tick-label-container {
		white-space: nowrap;
		margin-top: 20px;
	}

	.slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
		padding-top: 4px;
		display: inline-block;
		text-align: center;
	}

	.slider.slider-vertical {
		height: 210px;
		width: 20px;
	}

	.slider.slider-vertical .slider-track {
		width: 10px;
		height: 100%;
		left: 25%;
		top: 0;
	}

	.slider.slider-vertical .slider-selection {
		width: 100%;
		left: 0;
		top: 0;
		bottom: 0;
	}

	.slider.slider-vertical .slider-track-low,
	.slider.slider-vertical .slider-track-high {
		width: 100%;
		left: 0;
		right: 0;
	}

	.slider.slider-vertical .slider-tick,
	.slider.slider-vertical .slider-handle {
		margin-top: -10px;
	}

	.slider.slider-vertical .slider-tick.triangle,
	.slider.slider-vertical .slider-handle.triangle {
		border-width: 10px 0 10px 10px;
		width: 1px;
		height: 1px;
		border-left-color: #0480be;
		margin-left: 0;
	}

	.slider.slider-vertical .slider-tick-label-container {
		white-space: nowrap;
	}

	.slider.slider-vertical .slider-tick-label-container .slider-tick-label {
		padding-left: 4px;
	}

	.slider.slider-disabled .slider-handle {
		background-image: -webkit-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
		background-image: -o-linear-gradient(top, #dfdfdf 0%, #bebebe 100%);
		background-image: linear-gradient(to bottom, #dfdfdf 0%, #bebebe 100%);
		background-repeat: repeat-x;
		filter: 'progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffdfdfdf", endColorstr="#ffbebebe", GradientType=0)';
	}

	.slider.slider-disabled .slider-track {
		background-image: -webkit-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
		background-image: -o-linear-gradient(top, #e5e5e5 0%, #e9e9e9 100%);
		background-image: linear-gradient(to bottom, #e5e5e5 0%, #e9e9e9 100%);
		background-repeat: repeat-x;
		filter: 'progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffe5e5e5", endColorstr="#ffe9e9e9", GradientType=0)';
		cursor: not-allowed;
	}

	.slider input {
		display: none;
	}

	.slider .tooltip.top {
		margin-top: -36px;
	}

	.slider .tooltip-inner {
		white-space: nowrap;
		max-width: none;
	}

	.slider .hide {
		display: none;
	}

	.slider-track {
		position: absolute;
		cursor: pointer;
		border-radius: 2px;
		background-color: #f0eff1;
	}

	.slider-selection {
		position: absolute;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-radius: 4px;
		background-color: #F95424;
	}

	.slider-selection.tick-slider-selection {
		background-image: -webkit-linear-gradient(top, #89cdef 0%, #81bfde 100%);
		background-image: -o-linear-gradient(top, #89cdef 0%, #81bfde 100%);
		background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%);
		background-repeat: repeat-x;
		filter: 'progid: DXImageTransform.Microsoft.gradient(startColorstr="#ff89cdef", endColorstr="#ff81bfde", GradientType=0)';
	}

	.slider-track-low,
	.slider-track-high {
		position: absolute;
		background: transparent;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border-radius: 4px;
	}

	.slider-handle {
		position: absolute;
		top: 0;
		width: 23px;
		height: 23px;
		background-color: #ffffff;
		filter: none;
		box-shadow: 0 0 3px 3px rgba(93, 92, 99, 0.05);
		border: 1px solid #ededed;
	}

	.slider-handle.round {
		border-radius: 50%;
	}

	.slider-handle.triangle {
		background: transparent none;
	}

	.slider-handle.custom {
		background: transparent none;
	}

	.slider-handle.custom::before {
		line-height: 20px;
		font-size: 20px;
		content: "\2605";
		color: #726204;
	}

	.slider-tick {
		position: absolute;
		width: 20px;
		height: 20px;
		background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
		background-image: -o-linear-gradient(top, #f9f9f9 0%, #f5f5f5 100%);
		background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
		background-repeat: repeat-x;
		filter: 'progid: DXImageTransform.Microsoft.gradient(startColorstr="#fff9f9f9", endColorstr="#fff5f5f5", GradientType=0)';
		-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		filter: none;
		opacity: 0.8;
		border: 0px solid transparent;
	}

	.slider-tick.round {
		border-radius: 50%;
	}

	.slider-tick.triangle {
		background: transparent none;
	}

	.slider-tick.custom {
		background: transparent none;
	}

	.slider-tick.custom::before {
		line-height: 20px;
		font-size: 20px;
		content: "\2605";
		color: #726204;
	}

	.slider-tick.in-selection {
		background-image: -webkit-linear-gradient(top, #89cdef 0%, #81bfde 100%);
		background-image: -o-linear-gradient(top, #89cdef 0%, #81bfde 100%);
		background-image: linear-gradient(to bottom, #89cdef 0%, #81bfde 100%);
		background-repeat: repeat-x;
		filter: 'progid: DXImageTransform.Microsoft.gradient(startColorstr="#ff89cdef", endColorstr="#ff81bfde", GradientType=0)';
		opacity: 1;
	}

	#ex2SliderVal {
		font-weight: 600;
		padding: 0 5px;
		color: #3a3e47;
	}

	/*new css for restaursnts page*/

	.restaurant-entry .entry-dscr .fa {
		color: #888;
		margin-right: 10px;
	}

	.restaurant-entry .entry-dscr .list-inline-item {
		margin-right: 20px;
	}


	/*new css for profile page */

	.profile-desc .nav-inline small {
		margin-bottom: 5px;
	}

	.profile-desc .nav-inline .fa {
		font-size: 12px;
		margin-right: 5px;
	}

	.profile-desc .nav-inline .nav-item {
		margin-right: 20px;
	}

	.profile-desc p .fa {
		margin-right: 10px;
	}

	.profile-desc p {
		margin-bottom: 20px;
	}

	.profile-desc h6 a {
		font-size: 35px;
	}

	.chef-detail li small {
		line-height: 1.3;
		margin-top: 10px;
	}

	.chef-detail li span {
		line-height: 1.3;
		margin-bottom: 10px;
		font-weight: 500;
		font-size: 1.2rem;
	}

	.d-flex {
		display: flex;
	}

	.text-right {
		text-align: right;
	}

	.align-items-center {
		align-items: center;
	}

	.btn-secondary {
		color: #ff3300;
	}

	.order-row .form-control {
		border: none;
		background: transparent;
		max-width: 100px;
		padding-left: 0 !important;
	}

	.rating-box .panel-body h5 {
		font-size: 1.1rem;
		margin-bottom: 15px;
	}

	.rating-box .panel-body .bg-white {
		border: 1px solid #dcdee3;
		border-radius: 10px;
	}

	.rating-box .panel-body h5 .text-muted {
		font-weight: 300;
		font-size: 1rem;
		padding-left: 5px;
	}

	.rating-box .panel-body p {
		font-size: .9rem;
		line-height: 1.5;
	}

	.rating-box .panel-body h5 .rate {
		margin-left: auto;
		color: #ffa500;
		font-size: .9rem;
	}

	.d-flex .your-rate {
		width: 100%;
		display: block;
		color: #ffa500;
		font-size: .9rem;
	}

	.modal.food-detail p {
		line-height: 1.3;
		margin-bottom: 0;
	}

	.modal.food-detail .modal-body {
		background: #f5f5f5;
	}

	.modal.food-detail .modal-body .food_img {
		width: 100%;
		height: auto;
	}

	.modal.food-detail .modal-body .details h4 {
		font-weight: 600;
		letter-spacing: 0;
		font-size: 23px;
		color: #000;
	}

	.modal.food-detail .modal-body .specification h5 {
		font-size: 20px;
		font-weight: 600;
	}

	.modal.food-detail h4,
	.modal.food-detail h5 {
		margin-bottom: 0;
	}

	.modal.food-detail h5 {
		color: #fe3300;
	}

	.modal.add_address_modal .modal-content {
		background: #fff;

	}

	.modal.add_address_modal .modal-content .search_box {
		background: #fff;
		overflow: hidden;
		border-radius: 4px;
		position: absolute;
		z-index: 99;
		width: calc(100% - 79px);
		left: 0;
		right: 0;
		margin: auto;
		top: 40px;
		z-index: 9999;
		padding: 0 7px;

	}

	.modal.add_address_modal .modal-content .search_box .input-group-prepend .input-group-text {
		background: none;
		border: none;
		font-size: 22px !important;
		color: #ccc;
	}

	.modal.add_address_modal .modal-content .form-control::placeholder,
	.modal.add_address_modal .modal-content .form-control::-webkit-input-placeholder {
		color: #ccc;
		font-weight: 400;
	}


	.modal.add_address_modal .modal-content .form-control {
		font-weight: 500;
		color: #000;
		font-size: 15px !important;

	}

	.modal.add_address_modal .modal-content .form-group .btn {
		padding: 7px 35px;
		margin: 0 5px;
		border-radius: 4px;

	}

	.modal.add_address_modal .modal-content .form-group .btn.btn-close {
		background: #EAEAEA !important;
		border: 1px solid #bababa;
		color: #000;
		font-weight: 500;
	}

	.modal.add_address_modal .modal-dialog.modal-dialog-centered {
		max-width: calc(100% - 5%) !important;

	}

	.modal.add_address_modal .modal-dialog.modal-dialog-centered .form_container .form-group .form-control {
		border: 0;
	}



	.modal.add_address_modal .modal-dialog.modal-dialog-centered .form_container .btn-outline-secondary {
		background: var(--white);
		color: #F95424;
		border-color: var(--white);
		box-shadow: none !important;
		font-size: 21px;
	}

	/*
    .modal.add_address_modal .modal-dialog.modal-dialog-centered .form_container { 
        margin-bottom: 21px;
    }
    */

	.delivery-option .custom-control .custom-control-description strong {
		line-height: 16px;
		font-size: 17px;
		font-weight: 600;
		color: #f95424;
		padding-bottom: 3px;
	}


	.delivery-option .custom-control .custom-control-description {
		padding-left: 15px;
	}

	.delivery-option .custom-control .custom-control-description small {
		font-size: 13px;
		font-weight: 500;

	}

	.delivery-option .custom-control .custom-control-description small i {
		font-size: 18px;
		color: #f95424;

	}

	.delivery-option .custom-control .add_icon {
		font-size: 20px;
		line-height: 18px;
		color: #f95424;
		min-width: 20px;
		height: 20px;
		font-weight: 500;
		text-align: center;
		box-shadow: 0 0 1px 3px rgba(93, 92, 99, 0.05);
		border: 1px solid rgba(116, 135, 150, 0.23);
		background: #fff;
		line-height: 14px;
	}

	#order_confirmed .img_box img {
		width: auto;
		max-width: 100%;
		margin-top: 40px;
	}

	#order_confirmed h1 {
		width: auto;
		max-width: 100%;
		font-size: 1.8rem;
		font-weight: 600;
		margin: 0;
	}

	#order_confirmed p {
		font-size: .8rem;
		line-height: 16px;
		font-weight: 400;
		margin-top: 14px;
		margin-bottom: 20px;
	}

	#order_confirmed .theme-btn {
		box-shadow: none !important;
		font-size: 1.2rem;
	}

	#order_confirmed .theme-btn.my_orders {
		background: #fff;
		color: #F95424;
		font-weight: 500;
	}

	#order_confirmed .theme-btn.my_orders:hover {
		background: #F95424;
		color: var(--white);
		font-weight: 500;
	}


	.add_food {
		padding: 0;
		border: none;
		background: #f5f5f5;
		min-height: 30px;
		height: 30px;
	}

	.add_food .btn {
		padding: 0;
		box-shadow: none !important;
		background: #6AC932 !important;
		border: 0;
		min-width: 30px;
		height: 30px;
		min-height: 30px;
		padding: 0;
		font-size: 1.9rem;
		position: relative;
		overflow: hidden;

	}

	.add_food .btn span {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		line-height: 26px;
	}

	.add_food h2 {
		text-align: center;
		width: 100%;
		padding: 0 5px;
		margin: 0;
		font-size: 1.3rem;
		line-height: 30px;
		font-weight: 500;
	}

	.add_food .btn.add_item {
		font-size: 1.5rem;
	}

	.sidebar-wrap .add_food {
		background: #fff;
		height: 20px;
		min-height: 20px;
		border-radius: 2px;
	}

	.sidebar-wrap .add_food .btn {
		min-width: 20px;
		height: 20px;
		min-height: 20px;
		border-radius: 2px;
	}

	.sidebar-wrap .add_food .btn span {
		line-height: 17px;
	}

	.sidebar-wrap .add_food h2 {
		font-size: .95rem;
		font-weight: 600;
		line-height: 20px;
		min-width: 38px;
		padding: 0 2px;
	}

	.page_checkout .custom-control-indicator {
		width: 18px;
		height: 18px;
		padding: 5px;
	}

	.rating_icon_container .rating_icon {
		position: relative;
		width: 35.66px;
		height: 38.4px;
		overflow: hidden;
		display: inline-block;
		cursor: pointer;
		margin: 0 4px;

	}

	.rating_icon_container .rating_icon i {
		font-size: 2.4rem;
		font-size: 2.4rem;
		width: 0px;
		height: 0px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		overflow: hidden;
		color: #ccc;
	}

	.rating_icon_container .rating_icon i.fa-star-o {
		width: 35.66px;
		height: 38.4px;
	}

	.rating_icon_container .rating_icon.active i.fa-star-o {
		width: 0px;
		height: 0px;
	}

	.rating_icon_container .rating_icon.active i.fa-star {
		width: 35.66px;
		height: 38.4px;
		color: #F95424;

	}

	#page_my_order .rateing_modal .rating_btn {
		background: none;
		border: 0;
		box-shadow: none !important;
		outline: none;

	}

	.dropdown-item.active,
	.dropdown-item:active {
		background: #F95424;
	}

	.navbar-expand-lg .navbar-nav .dropdown-menu {
		box-shadow: 0 2px 10px 6px rgba(0, 0, 0, 0.1);
		border: none;
	}

	#referl_code .refferal_code_container {
		position: relative;
	}

	#referl_code .refferal_code_container::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 75px;
		background: #fff;
		border-bottom: 1px solid #eaebeb;
	}

	#referl_code .refferal_code_container .widget {
		padding: 45px 0px;
	}



	#referl_code .refferal_code_container .widget .share_code p {
		max-width: 215px;
		line-height: 17px;
	}

	#referl_code .refferal_code_container .widget .share_code ul li a {
		margin: 0 15px;
		display: block;
		width: 43px;
		border-radius: 6px;
		overflow: hidden;
	}

	#referl_code .refferal_code_container .widget .share_code ul {
		margin: 0 -15px;
	}

	#referl_code .refferal_code_container .widget h4 {
		margin-bottom: 31px;
		font-size: 1.3rem;
	}

	// #referl_code .refferal_code_container .widget::after {
	// 	content: '';
	// 	position: absolute;
	// 	top: 0;
	// 	right: 0;
	// 	left: 0;
	// 	bottom: 0;
	// 	margin: auto;
	// 	width: 1.5px;
	// 	height: 65%;
	// 	border-left: 1.5px dashed #F95424;


	// }

	#referl_code .refferal_code_container .widget .rating-block {
		padding-top: 4px;
		margin-bottom: 31px;
	}

	#referl_code .refferal_code_container .widget .rating-block .btn.theme-btn-dash {
		min-width: 166px;
		height: 50px;
		line-height: 46px;
		padding: 0 5px;
		font-size: 1.3rem;
		font-weight: 700;
	}


	@media (max-width: 767px) {
		#referl_code .refferal_code_container .widget::after {
			display: none !important;
		}

		#referl_code .refferal_code_container .share_code {
			text-align: center;
			padding-top: 50px;
			position: relative;
		}

		// #referl_code .refferal_code_container .share_code::after {
		// 	content: '';
		// 	position: absolute;
		// 	top: 15px;
		// 	right: 0;
		// 	left: 0;
		// 	margin: auto;
		// 	height: 1.5px;
		// 	width: 65%;
		// 	border-top: 1.5px dashed #F95424;
		// }

		#referl_code .refferal_code_container .share_code p {
			margin: 0 auto;
		}

		#referl_code .refferal_code_container .share_code ul {
			width: fit-content;
			margin: 0 auto !important;
			margin-top: 33px !important;
		}

		#referl_code .refferal_code_container .share_code ul li a {
			margin: 0 6px !important;
			width: 27px !important;
			border-radius: 4px !important;
		}
	}

	.zmdi-shopping-cart {
		font-size: 18px;
		min-width: 23px;
		color: #fff;
		position: relative;
		top: 1px;
	}

	.bg-image {
		background: url('~/assets/images/image01.jpg');
	}

	.pac-container {
		z-index: 2048 !important;
		display: block !important;
	}

	.price-btn-block {
		display: flex;
		align-items: center;

		.pull-right {
			margin-left: auto;
			margin-right: 0;
		}
	}

	app-google-places {
		width: 100%;
	}

	.empty_view {
		padding-top: 50px;

		.img_box {
			width: 300px;
			margin: 0 auto;
		}

		.text_box {
			padding-bottom: 30px;

			h1 {
				color: #CFD1D2;
				font-weight: 500;
				font-size: 27px;
			}

			p {
				color: #DEDFE1;
				padding-bottom: 20px;
			}

			.theme-btn {
				display: block !important;

			}
		}
	}

	.loader {
		position: absolute;
		width: 100%;
		height: fit-content;
		top: -15%;
		bottom: 0;
		margin: auto;
	}

	.entry-dscr {
		h5 {
			a {
				font-size: 1.25rem;
				color: #414551;
				font-weight: 500;
			}

			i {
				font-size: 17px;

				&.fa-heart {
					color: #ffa800;
				}
			}
		}

		p {
			font-size: 14px;
			color: #4d4f56;
			font-weight: 400;
		}
	}

	.entry-logo {
		width: 108px;
		height: 108px;

		.img-fluid {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;

			img {
				width: auto;
				height: auto;
			}
		}
	}

	.text-primary {
		color: #F95424 !important;
	}
}

.popular {
	.food-item-wrap {
		.figure-wrap {
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}

.order-row {
	.widget-body {
		.title-row {
			i {
				color: #f95424;
			}
		}
	}
}

.sidebar-wrap .widget-body .price-wrap p {
	&.cart_coupon {
		align-items: center;

		i {
			color: #f95424;
		}
	}
}

app-root .bg-image {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

app-root app-google-places {
	width: calc(100% - 40px);
}

.restaurant-listing {
	.restaurant-logo {
		display: flex;
		height: 100%;
		width: 100%;
		border: 1px solid #eaebeb;

		img {
			border: none !important;
			margin: auto;
		}
	}
}

.restaurant-entry .entry-logo {
	height: calc(100% - 30px) !important;
	border-radius: 3px;

	img {
		width: 90px !important;
		margin: auto !important;
	}
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.orderPlaced {
	.img_box {
		img {
			width: auto;
			max-width: 100%;
			margin-top: 40px;
		}
	}

	h1 {
		width: auto;
		max-width: 100%;
		font-size: 1.8rem;
		font-weight: 600;
		margin: 0;
	}

	p {
		font-size: .8rem;
		line-height: 16px;
		font-weight: 400;
		margin-top: 14px;
		margin-bottom: 20px;
	}
}
favourite-page{
	#page_favorites{
		.page-wrapper{
			background: #fcfcfa;
		}
	}
}